
    <div class="alert alert-success">
        safe
        <hr />

        <a href="https://localhost:44301/Admin">Safe with check access level</a>
        <hr />
        <a href="https://localhost:44301/Account/Logout">Logout</a>
    </div>