@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="alert alert-dark">
    Change Role needs Logout
    <br />
    <a href="https://localhost:44301/role/AddUserToRole?username=Reyhane_updated&roleName=admin">Add User To Role</a>
    <br />
    <a href="https://localhost:44301/role/RemoveUserFromRole?username=Reyhane_updated&roleName=admin">Remove User From Role</a>
</div>

<table class="table table-bordered">
    @if (Model != null && Model.Any())
    {
        foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Id
                </td>
                <td>
                    @role.Name
                </td>

            </tr>
        }

    }
    else
    {
        <tr>
            <td>No Data Found</td>
        </tr>
    }
</table>
