
<div class="alert alert-info">
    Home
    <hr />
    <a href="https://localhost:44301/users">Users</a>
    <hr />
    <a href="https://localhost:44301/Role">Roles</a>
    <hr />
    <a href="https://localhost:44301/Safe">Safe Need login</a>
    <hr />
    <a href="https://localhost:44301/Admin">Safe Need login and admin level access</a>
</div>

<div style="text-align:right;font-family:Tahoma">
    Policy و Role فرق
    <p>
        مثلا فرض کنید می خواهیم برای کاربرانی که بیشتر از 2 از عضویتشان می گذرد امکانی را اضافه کنیم
        این کار با رول بسیار پیچیده است اما با پالیسی به راحتی انجام می شود
        <br />
        برای استفاده از کلیم باید پالیسی تعریف کرد
        <br />
        رول را باید خومان بدهیم و بگیریم اما پالیسی طبق شرطی می تواند از کاربر گرفته شود پس داینامیک است
        مثلا کلیم شرکت در جلسه به بعضی بدهیم
    </p>
</div>
<h5>انواع Policy</h5>
<ul>
    <li>
        By claim
    </li>
    <li>
        By requirement
    </li>
</ul>